.international{
    padding: 4em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;        
    font-weight: 300;
}
.international__topo{    
    display: flex;
    justify-content: center;    
    align-items: center;  
    gap: 1em;  
    margin-bottom: 2em;
    font-family: var(--fonte-secundaria);
}
.international__titulo{
    font-size: 20px;
    color: var(--cor-secundaria);
}
.international-destaques__barra{
    width: auto;
    height: 1px;
    background-color: var(--cor-primaria);
    opacity: 20%;
    align-items: center;  
    flex-grow: 1;    
}
.international__card{
    font-family: var(--fonte-terciaria);
    background-color: var(--cor-de-fundo-secundario);
    padding: 2em 1em;
    color: var(--cor-terciaria);
    font-size: 14px;
    border-radius: 5px;
}
.card__ano{
    font-weight: 400;
    padding-bottom: 1em;
    font-size: 16px;
}
.card__texto{
    border-left: 2px solid var(--cor-terciaria);
    padding-left: 1em;
}
.international__local{
    padding: 1em 0;
    color: var(--cor-primaria)
}




@media(min-width: 720px) {
    .international{
        padding: 3em 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;        
        font-weight: 300;
    }
    .international__card{
        padding: 3em;
    }
}


@media(min-width: 1440px) {
    .international{
        padding: 0% 15% 10% 15%;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .cards{
        display: flex;
        gap: 2em;
    }
}